dottalk commands on the command line

cmdrel
copy
count
dotscript
erase
export
find
import
indexseek
list
locate
normalize
prehelp
predicates
proper
rel
relations
rel_list
scan
schema
struct
wsreport
status
seek
set_relation
sql
sqlsel
tuptalk
where 

